.container {
  padding: 24px 32px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header {
  padding: var(--padding-medium);
  font-size: var(--font-size-big);
  height: 80px;
  border-radius: var(--border-radius-main);
  background-color: var(--white-color);
  font-weight: 600;
  margin-bottom: 8px;
}
