.label {
  display: block;
  font-size: 14px;
  position: relative;
}

fieldset {
  border: none;
  position: relative;
}
.icon {
  position: absolute;
  top: 13px;
  right: 10px;

  z-index: 1;
}
.closeButton {
  position: absolute;
  top: 15px;
  right: 35px;
  border-radius: 4px;
  border: 1px solid var(--control-color);
}
