.container {
  display: flex;
  gap: 8px;
  align-items: center;
  height: 20px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  padding: 4px;
  color: var(--white-color);

  outline: none;
  border: none;
  border-radius: 4px;
}

.button_active {
  background-color: var(--control-color);
}

.button_disabled {
  background-color: var(--control-disabled-color);
}
