.container {
  padding: var(--padding-medium);
  height: 100%;
}

.info {
  border-radius: var(--border-radius-main);
  padding: var(--padding-medium);
  display: flex;
  flex-direction: column;
  gap: var(--padding-small);
  background-color: var(--white-color);
}
